.meta {
    width: 687px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.contenedor-meta{
    display: flex;justify-content: center;
}
.contenedor-meta p{
    display: flex;
}
.boton-borrar{
    cursor: pointer;
}


